/* * {
    outline: 1px solid red;
} */

:root {
    --prim-col: #00ffff;
    --sec-col: #202020;
    --base-col: #181818;
    --alt-col: white;
    --font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: var(--sec-col); /* Fallback color */
    background-image: url(); /* Replace 'path/to/your/image.jpg' with your actual image path */
    background-size: cover; /* Cover the entire background */
    background-position: top; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    font-family: var(--font); /* Set your preferred font family */
    color: var(--alt-col); /* Set text color */
}

.header {
    background: var(--base-col);
    border-bottom: 1px solid var(--prim-col);
    display: flex;
    padding: 10px;
    margin: 0;
}

.header .left {
    display: flex;
    align-items: center;
    width: 25%;
}

.logo {
    padding-left: 17px;
    font-size: 28px;
    font-weight: 900;
    font-family: var(--font);
    display: flex;
    align-items: start;
    color: var(--prim-col);
    font-size: 32px;
    font-weight: 900;
    width: max-content;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu img {
    outline: 5px solid var(--base-col);
    width: 30px;
    background-color: var(--prim-col);
    border-radius: 10%;
}

.menu img:hover {
    outline: 2px double var(--alt-col);
    animation: rotate 0.3s ease-in-out;
    box-shadow: 0 0 40px var(--prim-col);
    transform-origin: center;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}

.menu-container button:hover {
    cursor: pointer;
    background-color: var(--base-col);
    box-shadow: 0 0 60px var(--prim-col);
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 100%;
    list-style: none;
    background: var(--prim-col);
    margin: auto;
    padding: 6px 20px;
    font-weight: 600;
}

.dropdown-menu li a {
    margin-right: 20px;
    text-decoration: none;
    color: var(--base-col);
}

.visible {
    display: flex;
    animation: expand 150ms ease-in-out;
    transform-origin: top;
}

@keyframes expand {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}

.header .mid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

@media (max-width: 600px) {.header .mid ul {display: none;}}

.header .right {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 16px;
    width: 45%;
}

.header .right div {
    color: var(--alt-col);
    margin: 0px 5px;
}

.header .right div:hover {
    cursor: pointer;
}

.coords {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.profile {
    background: var(--prim-col);
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-right: 0px;
}

.dropdown-container {
    position: relative;
    margin: 0;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 47px auto;
    color: var(--prim-col);
    list-style-type: none;
}

.phrase {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    margin: 10px;
    margin-bottom: 3px;
    border-radius: 0px 100px 47px;
    background: var(--base-col);
    width: 620px;
    font-size: xx-large;
    font-weight: bold;
    color: var(--prim-col);
}

.prompt {
    padding: 4px 20px;
    border-radius: 100px 0px 47px;
    color: black;
    background: var(--alt-col);
}

.left img {
    display: flex;
}